.cabeceraPaginaCuadroDeMando{
    background-image: url(/img/CuadroDeMandoCabecera.webp);
    background-position: bottom right;
}

.tablasCuadroDeMando{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: all 0.5s;
}

.tablasCuadroDeMando:hover{
    width: 100%;
}

.textoTablasCuadroDeMando{
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    justify-content: center;
    transform: translateY(-1rem);
}

@media screen and (max-width: 800px) {
    .tablasCuadroDeMando{
        width: 95%;
    }
    .textoTablasCuadroDeMando{
        font-size: 0.8rem;
    }
}